* {
    background-color: #14171e;
    color: #fef7ea;
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    border: none;
    box-sizing: border-box
}

body {
    overflow-x: hidden;
}

a {
    color: #df9827 !important;
}

a:hover {
    color: #888 !important;
}

.data-source {
    font-size: 1em;
    font-style: italic;
    color: #888;
}

.spacer {
    height: 10vh;
}

.small-spacer {
    height: 6vh;
}

/* horizontal line style */
hr {
    border-top: 1px solid #df9827;
}

/* normal text style */
p {
    font-size: 1.2rem;
}

/* highlight text style */
b {
    color: #df9827;
    font-weight: bold;
}


/* =====================
    SideBar decoration
========================*/

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fef7ea;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #df9827;
}

/* =================
    Section 1
===================*/

#section1 {
    margin-top: 15vh;
    padding-bottom: 5vh;
    height: 100%;
}

#date {
    text-transform: none;
}

#byline {
    text-transform: uppercase;
    margin-bottom: 6vh;
    color: #df9827;
}


#intro {
    margin-top: 5vh;
}

/*======================== 
   GraphScrolling Boxes 
==========================*/

.annotations,
.annotation-line,
.projection-shape1,
.projection-shape2 {
    opacity: 0;
    /* display: none; */
    visibility: hidden;

}

#scrollContainer {
    padding-top: 10vh;
    padding-bottom: 1px;
    padding-right: 50px;
    padding-left: 50px;
}

#section2 {
    height: 100%;
}


#graphScrollContainer {
    position: relative;
    display: block;
}

#graphTargetsText {
    margin-left: 55vw;
    margin-right: 50px;
    background-color: rgba(1, 1, 1, 0);
}

#graphTargetsText>div:first-child {
    padding-top: 100px;
}


#graphTargetsText>div {
    margin-bottom: 200px;
    opacity: 0.2;
    transition: opacity .5s ease-in-out;
    background-color: rgba(1, 1, 1, 0);
}

#graphTargetsText div.graph-scroll-active {
    opacity: 0.8;
    transition: opacity .5s ease-in-out;

}

#graphTargetsText>div>p {
    padding: 25px;
    background-color: #fef7ea;
    color: #231f20;
    border-radius: 8px;
}

#graphContainer {
    padding-top: 100px;

}

#graphTargetsGraph {
    margin-right: 30px;
    position: sticky;
    top: 0px;
    float: left;
    width: 50vw;
}

#brexitBtnForMobile {
    display: none;
}

/* Mobile displays */
#interactive-tool-mobile,
#production-chain-mobile,
#clothing-industry-mobile-wrapper,
#equation-mobile,
.cca-mobile-div,
.cycle-mobile {
    display: none;
}




/* =====================================
  Interactive tool (draggable bar for countries) 
========================================*/

#interactive-tool-wrapper,
#interactive-tool-mobile-wrapper,
#production-chain-wrapper,
#clothing-industry-wrapper,
#clothing-industry-mobile-wrapper {
    height: 120vh;
}

#draggable-chart,
#result-chart,
#production-chain,
#interactive-tool-chart,
#production-chain-mobile,
#clothing-industry-raceChart,
#clothing-industry-mobile-barChart {
    height: 80%;
    position: sticky;
    top: 50px;

}




#country-bar {
    width: 100%;
    height: 90vh;
}

#section3 {
    height: 100%;
}

#context-button {
    display: none;
    background-color: #df9827;
    color: #fef7ea;
    text-align: center;
    border: none;
    font-size: 1.2em;
    height: 10vh;
    border-radius: 12px;
    border: 2px solid #fef7ea;

}


#solcer-button,
#covid-button {
    background-color: #df9827;
    color: #fef7ea;
    text-align: center;
    border: none;
    font-size: 1.2em;
    height: 10vh;
    border-radius: 12px;
    border: 2px solid #fef7ea;

}


.modal-body-context,
.modal-body-solcer,
.modal-body-covid {
    font-size: 1.5em;
}

#context-title {
    font-size: 1.5em;
}



/* =====================================
   Bar chart race annotations (press play, etc.)
========================================*/

#play-annotation {
    position: relative;
    top: 75vh;
    text-align: right;
    line-height: 1em;
}


/* =====================================
            CCA
========================================*/

#country-box {
    background-color: #df9827;
    height: 20vh;
    margin: 5vh;
}

#cca-chart {
    background-color: #df9827;
    height: 50vh;
}

.grid line {
    stroke: #4f4c4d;
}

.gridStage2 line {
    stroke: #888;
    opacity: 0.5;
}

.gridStage2>.domain {
    display: none;
}

.grid path {
    display: none;
}

.y-axis line,
.y-axis path {
    display: none;
}

.selection {
    fill: #df9827;
    fill-opacity: 1;
    stroke: none;
}

.brush text {
    font-weight: 600;
}

.xAxis text {
    display: none;
}


.yAxis text,
.xAxisMob text,
.xAxisClothing text,
.xAxisConsump text {
    font-size: 1.5em;
}

#conLine {
    transition: 0.5s;
}

.yAxis>.tick line {
    stroke: #fef7ea;
}

.yAxis>.tick text {
    fill: #fef7ea;
}

.yAxis>.domain {
    stroke: #fef7ea;
}

.xAxisStage3>.tick line {
    display: none;
}

.xAxisStage3>.tick text {
    fill: #fef7ea;
}

.xAxisStage3>.domain {
    display: none;
}

.consumption-label {
    font-size: 1.4em
}

.ccaLabel {
    fill: #fef7ea;
    font-size: 0.7em;
}

.d3-tip {
    line-height: 1.2;
    font-weight: bold;
    padding: 12px;
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


/* =====================================
    Climate neutrality
========================================*/
blockquote {
    font-size: 2em;
    line-height: 1.5em;
    padding: 2vh;
    color: #df9827;
}

blockquote:before {
    color: #fef7ea;
    content: open-quote;
    font-size: 3.5em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

cite {
    font-size: 1.2em;
    padding: 2vh;
}

.climate-neutral p {
    margin-bottom: 2rem;
}

.caption {
    margin-top: 3vh;
    font-size: 0.7em;
    text-align: center;
}

.climate-neutral h3 {
    color: #df9827;
    line-height: 2em;
}

.arrow {
    opacity: 0.4;
}

.cycleTextL,
.cycleTextR {
    padding: 4vh;
    background-color: #fef7ea;
    color: #14171e;
    opacity: 0.4;
    border-radius: 8px;
}


.cycleTextL {
    margin: 4vh 0 4vh 8vh;
}

.cycleTextR {
    margin: 4vh 8vh 4vh 0;
}


@media (max-width: 925px) {
    #scrollContainer {
        padding-top: 0;
        padding-bottom: 1px;
        padding-right: 0;
        padding-left: 0;
    }

    #graphTargetsGraph {
        width: 100%;
        height: 50vh;
        margin-right: 0px;
        float: none;
    }

    #graphTargetsText {
        position: relative;
        margin: 0px auto;
        width: auto;
    }

    #brexitBtnForDesktop {
        display: none;

    }

    #brexitBtnForMobile {
        display: block;
        background: #df9827;
        color: #fef7ea;
        border: 1px solid #fef7ea;
        font-size: 1.2rem;
    }
}

@media (max-width: 580px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    #section1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-fluid {
        padding: 0;
    }

    #scrollContainer {
        padding-top: 0;
        padding-bottom: 1px;
        padding-right: 0;
        padding-left: 0;
    }

    #graphTargetsText>div {
        margin-bottom: 200px;
        opacity: 0.4;
        transition: opacity .5s ease-in-out;
        background-color: rgba(1, 1, 1, 0);
    }

    #blankBox {
        padding-top: 20vh;
    }

    #section1 {
        margin-top: 4vh;
    }

    #expButton {
        background-color: #888;
    }


    #needButton {
        background-color: #df9827;
    }

    #expButton:hover,
    #needButton:hover {
        opacity: 0.8
    }

    .zero-line {
        stroke-width: 2px;
        stroke: #fef7ea;
    }

    #but1990,
    #but2005,
    #but2012 {
        background-color: #df9827;
    }

    #but1990:hover,
    #but2005:hover,
    #but2012:hover {
        opacity: 0.8
    }

    #an2005,
    #an2012 {
        opacity: 0;
    }

    #production-chain,
    #interactive-tool,
    #clothing-industry-wrapper,
    #equation,
    .cca-desktop,
    .cycleTextL,
    .cycleTextR,
    .cycle {
        display: none
    }

    #production-chain-mobile,
    #interactive-tool-mobile,
    #clothing-industry-mobile-wrapper,
    #equation-mobile,
    .cca-mobile-div,
    .cycle-mobile {
        display: block;
    }

    .consumption-label {
        font-size: 0.7em;
    }


    .graph-scroll-active p,
    .graph-scroll-fixed p {
        font-size: 0.8em;
    }

    #img-ducky {
        width: 80vw;
    }

}